.projectsHolder{
  margin: 25px 0px;
}

.project{

  padding-top: 25px;
  padding-bottom: 25px;
}

.project-reverse{
  background-color: var(--accent-color);
}

.textHolder{
  flex: 1 1 calc(50% - 4rem);
  max-width: calc(50% - 2rem);
}

.buttonHolder{
  display: flex;
  margin-top: 15px;
  gap: 25px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .project-reverse{
    flex-direction: column-reverse !important;
  }
}