.project{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.imageHolder{
  flex: 1 1 calc(50% - 4rem);
  max-width: calc(50% - 2rem);
}

.textHolder{
  flex: 1 1 calc(50% - 4rem);
  max-width: calc(50% - 2rem);
}

@media screen and (max-width: 1180px) {
  .project{
    flex-direction: column;
  }

  .imageHolder, .textHolder{
    width: 100%;
  }
  
}