.container{
  padding: 0px 450px;
}

@media screen and (max-width: 2400px) {
  .container{
    padding: 0 350px;
  }  
}

@media screen and (max-width: 1920px) {
  .container{
    padding: 0 250px;
  }
}


@media screen and (max-width: 1360px) {
  .container{
    padding: 0 100px;
  }
}

@media screen and (max-width: 1180px) {
  .container{
    padding: 0 25px;
  }
}