.container{
  padding-left: 450px;
  padding-right: 450px;
}

@media screen and (max-width: 2400px) {
  .container{
    padding-left: 350px;
    padding-right: 350px;
  }  
}

@media screen and (max-width: 1920px) {
  .container{
    padding-left: 250px;
    padding-right: 250px;
  }
}


@media screen and (max-width: 1360px) {
  .container{
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1180px) {
  .container{
    padding-left: 25px;
    padding-right: 25px;
  }
}